.uagb-color-switch-control-container {

	.components-flex.components-angle-picker-control {
		margin-bottom: 0;
	}

	.components-base-control.uagb-multi-buttons-control {
		margin-bottom: 5px;
	}

	.uagb-color-popover-container {
		margin-top: 25px;
	}

	.components-custom-gradient-picker {
		margin-top: 25px;
	}

	.uagb-advanced-color-settings-container {
		justify-content: flex-end;
	}
}
